<div class="row">

	<%= render 'books/post', user: @user, book: @book %>

	<div class="col-xs-9">
		<h2>Book detail</h2>
		<table class="table">
			<tbody>
				<tr>
					<td>
						<%= link_to user_path(@book_edit.user.id) do %>
							<%= attachment_image_tag @book_edit.user, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", class:"attachment user profile_image fallback"%>
							<br>
							<%= @book_edit.user.name %>
						<% end %>
					</td>
					<td>
						<%= link_to book_path(@book_edit.id) do %>
							<%= @book_edit.title %>
						<% end %>
					</td>
					<td>
						<%= @book_edit.body %>
					</td>
					<td>
						<%= link_to "Edit", edit_book_path(@book_edit.id) , class:"btn-sm btn-success" %>
					</td>
					<td>
						<%= link_to "Destroy", book_path(@book_edit.id), method: :delete, class:"btn-sm btn-danger", data:{confirm:"本当に消しますか？"} %>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>